include HISTORY*
include LICENSE*
include README*
include CHANGES*

recursive-include src *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif 
